/** @format */

@media (max-width: 1100px) {
  .padd-10 {
    padding: 2rem;
  }
  .hero {
    height: 100vh;
  }
  .hero-bg img {
    height: 100vh;
  }
  .featureTextBox {
    width: 100%;
  }

  .header{
    padding-top: 5rem;
  }
}

@media (max-width: 950px) {
  .about,
  .features,
  .pricingBoxes,
  .contactInfoBox,
  .serviceInfoBoxes {
    grid-template-columns: 1fr;
  }
  .feature2 {
    flex-direction: column;
  }
  .feature3 {
    flex-direction: column-reverse;
  }
  .feature2Img,
  .feature2box {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .navList {
    display: none;
  }
  .navBtn {
    display: flex;
  }
  .close {
    display: none;
  }
  .nav .navList {
    position: relative;
  }
  .stick .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    top: 8rem;
    background-color: rgb(0, 187, 255);
    padding: 2rem;
    width: 15rem;
    height: 30vh;
    border-radius: 1rem;
  }
  .stick .close {
    display: flex;
  }
  .stick .open {
    display: none;
  }
}

@media (max-width: 700px) {
  .header {
    padding-top: 5rem;
  }

  .hero {
    height: 110vh;
  }

  .hero-bg img{
    height: 110vh;
  }
}

@media (max-width: 500px) {
  .clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .footer,
  .contactInput,
  .contactInfoBoxes {
    grid-template-columns: 1fr;
  }
  .accordion {
    width: 100%;
  }
  .hide {
    display: none;
  }
}
